<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body class="main">

  <div class="banner">
    {{ name }}
  </div>


  <div class="welcome_bar">
    <script src="{{url_for('static', filename='js/get_time.js')}}"></script>
  </div>


  <table class=track_table>

    <tr>
      <th>Artist</th>
      <th>Song</th>
      <th>Popularity</th>
      <th>Listen</th>
    </tr>

    {% for artist in tracks.artist %}
    {% set artists = tracks.artist %}
    {% set songs = tracks.song %}
    {% set scores = tracks.popularity %}
    {% set urls = tracks.Link %}
    {% set i = loop.index - 1 %}
    <tr>

      <td class=artist>
        {{ artists[i]}}
      </td>

      <td class=song>
        {{ songs[i] }}
      </td>

      <td class=score>
        {{ scores[i] }}
      </td>

      <td class=url>
        <a class="one" href="{{ urls[i] }}">Listen to "{{ songs[i] }}"</a>
      </td>

    </tr>

    {% endfor %}
  </table>



  </div>


</body>

</html>