.main {
  display: flex;
  flex-direction: column;
  padding : 0px;
  margin: 0px;
  background-color: #FFF;
  min-height: 100vh;
}


.banner {
  background-color: #000;
  padding: 10px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 3em;
  color: #FFF;
}



.welcome_bar {
  background-color: #7d9a90;
  padding-bottom: 5px;
  font-family: Verdana, sans-serif;
  text-align : center;
  font-size: 1.4em;
  color: #FFF;
  clear: left;
  animation-name: chicago;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 2s;
}


@keyframes chicago {
  0% {background-color: #7d9a90;}
  50%  {background-color: #CCC;}
  100% {background-color: green;}
}


.track_table {
  width: 80vw;
  margin: auto;
  height: 80vh;
  /* border-collapse: collapse; */
  border: 8px double #000;
  border-radius: 10px;
  font-size: 11pt;
  font-family: Arial;
}



td.artist {
  width: 20%;
  padding: 5px;
}

td.song {
  width: 20%;
  padding: 5px;
}

td.score {
  width: 5%;
  padding: 5px;
}

td.url {
  width: 20%;
  padding: 5px;
}

tr:nth-child(even) {
  background: #E0E0E0;
}



a.one:link {
  color:#000;
  text-decoration: none;
  cursor: pointer;
}

a.one:visited {
  color:#000;
  cursor: pointer;
}

a.one:hover {
  color: #7d9a90;
  text-decoration: underline;
  cursor: pointer;
}

a.top:link {
  color:#FFF;
  text-decoration: none;
  cursor: pointer;
}

a.top:visited {
  color:#FFF;
  cursor: pointer;
}

a.top:hover {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}


a {
  all: unset;
}